.explanations {
  border-right: 3px solid gray;
}
.code {
  border-left: 3px solid gray;
}
html,
body {
  height: 100%;
  margin: 0
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.header {
  flex: 0 1 auto;
}

.box .row.content {
  flex: 1 1 auto;
  display: flex;
}

.box .row.footer {
  flex: 0 1 40px;
}
