.body {
  position: fixed;
  top: 69px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
}
.explanations, .code {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  overflow: hidden;
}
.explanations {
  border-right: 6px solid gray;
  left: 0;
  width: 50%;
}
.code {
  border-left: 6px solid gray;
  left: 50%;
  right: 0;
}
.content {
  padding: 20px;
}
.header {
  background: gray;
}
html,
body {
  height: 100%;
  margin: 0
}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 30%;
  left: 0;
  font-size: 1em;
}

#editor .CodeMirror {
  height: 100%;
  font-family: 'Inconsolata', monospace;
}

#output {
  border-top: 6px solid gray;
  position: absolute;
  top: 70%;
  right: 0;
  bottom: 0;
  left: 0;
}

#logs {
  font-family: 'Inconsolata', monospace;
}

.buttons {
  width: 100%;
  text-align: right;
  background: lightgray;
}

.button {
  display: inline-block;
  padding: 0 0.9em;
  height: 1.5em;
  line-height:1.5em;
  margin: 0.2em;
  text-decoration: none;
}

.button.run {
  background: dodgerblue;
  color: white;
  border: 1px solid lightblue;
}

.button.next {
  background: dodgerblue;
  color: white;
  border: 1px solid lightblue;
}

.button.prev {
  background: gray;
  color: white;
  border: 1px solid white;
}

.button.output {
  background: gray;
  color: white;
  border: 1px solid white;
}

.bottom {
  position: absolute;
  bottom: 69px; /* Same as header height (body.top) */
}

span.hint {
  color: blue;
}

span.brackets {
  color: green;
}

span.error {
  color: red;
}
