.body {
  position: fixed;
  top: 2.25em;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background-color: #171921;
  color: #fff;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
a {
  color: #ffe953;
}
code {
  background-color: #282a36;
  color: #fff;
  border: 2px solid #282a36;
  border-radius: 5px;
}
.explanations, .code {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  overflow: auto;
}
.explanations {
  border-right: 6px solid #282a36;
  left: 0;
  width: 50%;
}
.explanations > div > section {
  padding: 2em;
  padding-top: 1em;
  font-size:110%;
  color: #ddd;
}
.explanations h1, h2, h3, h4, h5, h6 {
  color: #ffe953;
  font-family: "Titillium Web";
  font-weight: normal;
  font-size: 250%;
}
.code {
  border-left: 6px solid #282a36;
  left: 50%;
  right: 0;
}
.content {
  padding: 20px;
}
.header {
  background: #171921;
}
.header img {
  float: left;
  height: 0.9em;
  padding: 0.1em 0.5em;
}
.logo {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #fff;
  font-size: 2em;
  font-weight: 300;
  line-height: 1.125;
  text-transform: uppercase;
  text-decoration: none;
}
html,
body {
  height: 100%;
  margin: 0;
}
h1 {
  margin: 0;
  color: #fff;
}
div[id^=page-] > code:last-of-type {
  display: none;
}
div[id^=page-] {
  display: none;
}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 30%;
  left: 0;
  font-size: 1em;
}

#editor .CodeMirror {
  height: 100%;
  font-family: 'Inconsolata', monospace;
}

#output {
  border-top: 6px solid #282a36;
  position: absolute;
  top: 70%;
  right: 0;
  bottom: 0;
  left: 0;
}

#logs {
  font-family: 'Inconsolata', monospace;
}

.buttons {
  width: 100%;
  text-align: right;
  background: #282a36;
}

.bottom {
  position: absolute;
  bottom: 0px;
}

.button {
  display: inline-block;
  padding: 0.2em 0.9em;
  line-height:1.5em;
  margin: 0.2em;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  border: 0px;
  height: 2em;
}

.button.run {
  background: #ffe953;
  color: #333;
  border-radius: 4px;
}

.button.run:hover {
  background: #ffe220;
}

.button.next {
  background: #ffe953;
  color: #333;
  border-radius: 4px;
}

.button.next:hover {
  background: #ffe220;
}

.button.prev {
  background: #ccc;
  color: #333;
  border-radius: 4px;
}

.button.output {
  background: #ccc;
  color: #333;
  border-radius: 4px;
}

.button.share {
  background: #ccc;
  color: #333;
  border-radius: 4px;
  float: left;
}

.info {
  float: left;
  margin: 0.5em;
}

span.hint {
  color: #66d9ef;
}

span.brackets {
  color: #50fa7b;
}

span.error {
  color: red;
}

.button.is-loading {
  color: transparent !important;
  pointer-events: none;
}

.button.is-loading:after {
  animation: spinAround 500ms infinite linear;
  border: 2px solid #333;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
  left: calc(50% - (1em / 2));
  top: -1.3em;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
