:root {
  --editor-height: calc(100vh - 350px);
  --editor-height-2: calc(100vh - 385px);
  --output-height: 10vh;
}

body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background-color: #171921;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffe953;
  font-family: "Titillium Web";
  font-weight: normal;
}

#ROOT {
  display:flex;
  flex-direction: column;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.headerbar {
  height: 2.4em;
}

.headerbar > a {
  text-decoration: none;
}

.headerbar > a:last-child {
  float: right;
}

.headerbar > a > img {
  padding: 0.5em;
  padding-left: 3em;
  height: 1.2em;
}

.headerbar > a > span {
  color: lightgray;
  margin: 1em;
  font-size:0.8em;
}

.headerbar > a:first-child > span {
  color: #ffe953;
  font-family: "Titillium Web";
  font-weight: normal;
  font-size: 1.2em;
  position: relative;
  bottom: 0.5em;
}

.optionsbar {
  position: absolute;
  top: 2.4em;
  right: 0px;
  height: 48px;
  margin-right: 1em;
  font-size: 16px;
}

.optionsbar input[type=number] {
  width: 3em;
}

.optionsbar select, input[type=number] {
  background-color: #ccc;
  border-radius: 3px;
  border: 3px solid #ccc;
}

.optionsbar > span {
  display: inline-block;
  margin-right: 0.5em;
}

#editor {
  max-height: var(--editor-height);
}

.CodeMirror {
  max-height: var(--editor-height-2);
  margin-top: 72px;
}

@media only screen and (min-width: 768px) {
  .headerbar {
    height: 2.8em;
  }

  .headerbar > a > img {
    height: 1.5em;
  }

  .headerbar > a > span {
    font-size: 1em;
  }

  .headerbar > a:first-child > span {
    font-size: 1.5em;
    bottom: 0.36em;
    padding-left: 0.5em;
  }

  .optionsbar {
    top: 2.8em;
  }
}

@media only screen and (min-width: 574px) {
  .optionsbar {
    height: 24px;
  }

  .CodeMirror {
    height: calc(100% - 24px);
    margin-top: 24px;
  }
}

@media only screen and (min-width: 385px) and (max-width: 574px) {
  .optionsbar {
    height: 24px;
  }

  .CodeMirror {
    height: calc(100% - 48px);
    margin-top: 48px;
  }
}

.mainarea {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  flex-grow: 1;
}

.mainarea > .column:first-child:not(:last-child) {
  border-right: 0.5em solid #282a36;
}

.column {
  display:flex;
  flex-direction:column;
}

.base {
  flex-grow: 1;
  flex-basis: 49%;
}

.content {
  padding: 1.5em;
}

.content2 {
  margin: 1.5em
}

@media only screen and (min-width: 1300px) {
  .base {
    min-width: 600px;
  }

  .content, .editor {
    overflow: auto;
  }
}

section {
  padding: 2em;
  padding-top: 1em;
  font-size:110%;
  color: #ddd;
}

a {
  color: #ffe953;
}

code, pre {
  background-color: #282a36;
  color: #fff;
  border: 2px solid #282a36;
  border-radius: 5px;
}

.grow, .small {
  flex-grow: 1;
}

.small {
  flex-basis: 33%;
}

.big {
  flex-grow: 2 !important;
  flex-basis: 66%;
}

.bar {
  background-color: #282a36;
  text-align: right;
}

.bar > :first-child {
  float:left;
}

.bar > span {
  line-height: 1.5em;
  margin: 0.4em;
}

.monospace {
  font-family: 'Inconsolata', monospace;
  border: inherit;
  background-color: inherit;
}

.editor {
  background-color: #282a36;
}

span.hint {
  color: #66d9ef;
}

span.brackets {
  color: #50fa7b;
}

span.error {
  color: red;
}

.button {
  display: inline-block;
  padding: 0.2em 0.9em;
  line-height:1.5em;
  margin: 0.2em;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  border: 0px;
  height: 2em;
  color: #333;
  border-radius: 4px;
}

.button.main {
  background: #ffe953;
}

.button.main:hover {
  background: #ffe220;
}

.button.other {
  background: #ccc;
}

.button.is-loading {
  color: transparent !important;
  pointer-events: none;
}

.button.is-loading:after {
  animation: spinAround 500ms infinite linear;
  border: 2px solid #333;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  position: relative;
  width: 1em;
  left: calc(50% - (1em / 2));
  top: -1.3em;
}

button .buttonhint {
  font-size: smaller;
  opacity: 0.7;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

#output {
  height: var(--output-height);
  overflow-y: auto;
  flex-grow: 1;
}